* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  text-align: center;
  width: 100%;
  height: 100%;
}

/*CABEÇALHO*/

#superior {
  display: flex;
  align-items: center;
  position: relative;
}

input::placeholder {
  font-style: italic;
}

#logo {
  width: 100px;
  cursor: pointer;
}

form.d-flex input.form-control {
  min-width: 300px;
  max-width: 400px;
}

form.d-flex input.form-control:focus {
  border-color: #db9b23;
  box-shadow: 0 0 0 0.25rem rgba(219, 155, 35, 0.5);
  outline: none;
}

#icon-area {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#icon-area i {
  cursor: pointer;
  line-height: 1; /* remove espaçamento extra vertical */
  color: #616161;
}

#icon-area i:hover {
  color: #db9b23;
}

hr {
  margin-top: 0;
}